.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  color: #23318F;
  font-weight: 500;
  padding-top: 10px;
}

button > a {
  color: white;
}

#logo {
  height: 20px;
}
  
  .header-text {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
a {
  text-decoration: none;
  font-size: 18px;
}
  

#contact-button {
    background-color: #23318F;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
  }