.SectionOne {
    display: flex;
    flex-direction:column;
    justify-content: justify;
    text-align: center;
    padding-bottom: 120px;
    margin: auto;
    width: 50vw;
}


#Sectiontext-One{
    font-size: 3em;
    color: #18216d;
    font-family: "Motiva Sans Bold", serif;
    font-weight: 100px;
    font-style: bold;

}

#Sectiontext-Two{
    text-align: center;
}

#SectionOne-button{
color:white;
border: none;
padding: 0 40px;
height: 40px;
font-size: 15px;
background-color: #18216d;
box-shadow: rgb(193, 197, 204) 0px 16px 30px;
}